<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Test" value="true" />
    <add key="IdOrder" value="1" />
  </appSettings>
<connectionStrings>
  <add name="alextradeEntities" connectionString="metadata=res://*/AlexTradeModel.csdl|res://*/AlexTradeModel.ssdl|res://*/AlexTradeModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=alextrade;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>